/* Application Styles */
/*
Grijs: #e5e5e5
L-grijs: #f8f8f8
Paars: #8a59a0
L-paars: #af8ebd
Roze: #ef8b99
L-roze: #f2afb9
Blauw: #4eb1e0
L-blauw: #87c9e8
*/

body {
    background-color: #1A1A1A;
    color: #DDD;
    font-family: 'Droid Sans', sans-serif;
    min-width: 310px;
}

#hero {
    background-image: url('../img/header.png');
    background-size: cover;
    position: relative;
    background-position: center center;
    width: 100%;
}

.header {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}

.header h1 {
    font-weight: bold;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#top:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    /*background-color: #91d4f3;*/
    opacity: .7;
    z-index: 1;
}

.logo {
    width: 3em;
    margin-bottom: 2em;
    opacity: .9;
}

#content {
    padding: 100px 50px;
    text-align: center;
    width: 80%;
    margin: 0px auto;
}

.blok {
    padding: 2em;
    text-align: center;
}

.wit-blok {
    background-color: #FFF;
    color: #515151;
}

.gray-blok {
    background-color: #f5f5f5;
    color: #515151;
}

#about .fa {
    font-size: 5em;
}

.purple {
    color: #8a59a0;
}

h4.title {
    margin-top: 0.5em;
}

.grid-block {
    position: relative;
}

.caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(239, 139, 153, 0.76);
    width: calc((100%) - 30px);
    height: calc((100%) - 20px);
    margin: 0 15px;
}

.caption h3, .caption p {
    color: #fff;
    margin: 20px;
}

.caption h3 {
    margin: 20px 20px 10px;
}

.caption p {
    margin: 0 20px 15px;
}

footer {
    padding-bottom: 0!important;
}

footer .fa {
    font-size: 1.5em;
}

footer p {
    margin-top: 1em;
    font-size: 0.7em;
}

footer a {
    text-decoration: none;
    color: #DDD;
}

footer a:hover {
    text-decoration: underline;
    color: #DDD;
}

.social-link {
    color: #DDD;
}

.social-link:hover {
    text-decoration: none;
    color: #EF8B99;
}

.social-link i {
    padding: 8px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    border: solid 2px;
    margin-right: 10px;
}

.btn-default:hover {
    color: #fff;
    background-color: #ef8b99;
}

.grid-item {
    background-color: white;
    float: left;
    width: 300px;
    margin: 10px;
}

.grid-item h5 {
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: .5em;
}

.grid-item hr {
    margin: .5em 0;
}

.grid-item img {
    display: block;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-device-width: 480px) {

    .header {
        top: 20%;
    }

    .logo {
        width: 3em;
        margin-bottom: 1em;
        opacity: .9;
    }
}

@media only screen and (max-width: 350px) {
    .row {
        margin-right: 0;
    }

    .blok {
        padding: 2em 0;
    }
}